#container-home {
  display: grid;
  margin: 0 auto;
  width: 65%;

  grid-template-areas: "sidebar content widgets";
  grid-template-columns: 275px 600px 350px;
  grid-template-rows: 100vh;

  #container-sibar {
    grid-area: sidebar;
    color: white;

    .icon {
      width: 30px;
      height: 30px;
      padding: 7px;
    }

    .container-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;

      .btn-logout {
        width: 90%;
        height: 40px;
        border-radius: 30px;
        background: #1d91da;
        font-size: 1.05rem;
        color: white;
        font-weight: 600;
        cursor: pointer;
      }
    }

    #content-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 14px 10px;
      cursor: pointer;
      border-radius: 40px;

      h2 {
        font-size: 19px;
        margin: 0 15px 0 20px;
        font-weight: 600;
      }

      .MuiSvgIcon-root {
        width: 30px;
        height: 30px;
      }
      &:hover {
        background: #1da0f257;
        color: #1d91da;
        transform: color 1s ease-out;
      }
    }
  }

  #container-content {
    grid-area: content;
    border-left: 1px solid #3c3e41;
    border-right: 1px solid #3c3e41;
    color: #d9d9d9;
    overflow-y: scroll;

    .tittle {
      border-bottom: 1px solid #3c3e41;
      padding-left: 10px;
    }

    .container-inputs {
      width: 100%;
      border-bottom: 1px solid #3c3e41;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        .inputs {
          width: 100%;
          display: flex;
          align-items: center;

          img {
            width: 48px;
            height: auto;
            border-radius: 50%;
            padding: 10px;
          }

          input {
            margin-left: 10px;
            margin-top: 10px;
            border: none;
            outline: 0;
            font-size: 19px;
            line-height: 25px;
            color: #fff;
            background: none;
          }
        }

        .input-files {
          display: flex;
          justify-content: space-evenly;

          .input-file {
            font-size: 15px;
            overflow: hidden;
            color: transparent;
          }

          .btn-tweet {
            background: #1d91da;
            border: none;
            color: #fff;
            font-weight: 600;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            margin-bottom: 1em;
          }
        }
      }
    }

    #container-post {
      padding: 10px 15px;
      border-top: 1px solid #3c3e41;
      margin-top: 5px;
      display: flex;
      align-items: flex-start;

      .post-avatar {
        margin-top: 5px;

        img {
          border-radius: 50%;
        }
      }

      .post-body {
        padding-left: 10px;
        width: 100%;
        overflow: hidden;

        .post-icon {
          font-size: 14px;
          color: #1d91da;
        }

        .post-name {
          display: flex;
          align-items: center;

          span {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 15px;
            color: #5b7083;
            margin-left: 15px;
          }
        }

        .description {
          margin-bottom: 10px;

          p {
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 16px;
            line-height: 19.6875px;
          }
        }

        .img-post {
          width: 100%;

          img {
            border-radius: 20px;
            min-width: 100%;
            width: 100%;
            min-height: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }

  #container-widgets {
    color: #d9d9d9;
    grid-area: widgets;
  }
}
